<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <title th:text="${serverHostname}">rpilab.dev</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div class="container mt-2">
  <div class="row">
    <div class="col-12 p-0">
      <nav class="navbar m-2 mt-2">
        <a class="navbar-brand text-secondary" th:href="@{/}">
          <h1 id="app-name" class="fs-2">&gt; hostname <span th:text="${serverHostname}">rpilab.dev</span></h1></a>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 p-2">
      <div class="info-box p-4 h-100">
        <h2>whoami</h2>
        <ul class="m-0 list-unstyled">
          <li class="my-3 truncate text-truncate">
            <img th:src="@{/images/spring-boot.png}" width="32" height="29" alt="Spring Boot"
                 class="d-inline-block me-2"/>
            Spring Boot <span th:text="${springBootVersion}">3.0</span>
          </li>
          <li class="my-3 truncate text-truncate">
            <img th:src="@{/images/k8s.png}" width="32" height="32" alt="Kubernetes Pod"
                 class="d-inline-block me-2"/>
            <span th:text="${podHostname}">localhost</span>
          </li>
          <li class="mt-3 truncate text-truncate">
            <img th:src="@{/images/rpi.png}" width="32" height="31" alt="Raspberry Pi"
                 class="d-inline-block me-2"/>
            <span th:text="${serverType}">Machine</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 p-2">
      <div class="container p-0">
        <div class="row pb-3">
          <div class="col-sm-12">
            <div class="info-box p-4">
              <h2>date</h2>
              <p id="date" class="m-0 p-0 fs-3 truncate text-truncate" th:text="${#temporals.format(currentDate)}">
                <span class="fs-3 w-100" style="line-height: 64px">Loading...</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="info-box p-4">
              <h2>weather</h2>
              <p id="weather" class="m-0 p-0 pt-1 truncate text-truncate" hx-get="/weather" hx-trigger="load">
                <span class="text-secondary w-100 d-inline-block"
                      style="line-height: 64px">Loading...</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-2">
      <div class="info-box p-4">
        <h2>motd</h2>
        <p id="motd" class="m-0 p-0">
          <span class="text-secondary" hx-get="/motd" hx-trigger="load">Loading...</span>
        </p>
      </div>
    </div>
  </div>
</div>

<footer>
  <a class="github-fork-ribbon right-bottom fixed" href="https://github.com/alexandreroman/hello-rpilab"
     data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
</footer>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/htmx.org/1.9.9/dist/htmx.min.js}"></script>

</body>
</html>
